server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: r1
          uri: http://localhost:8089/
          predicates:
            - Path=/voitures/**